* {
	font-family: Calibri, "Trebuchet MS", sans-serif;
	text-decoration: none;
}
body {
	height: 100vh;
	background-color: none;
}
section {    
	display: flex;
	width: 100%;
}
header {
	display: flex;
	width: 100%;
	justify-content: center;
	/*padding-top: 30vh;*/
 	align-items: center;
 	height: 100vh;
	background-color: rgba(0, 0, 0, .78);
	text-align: center;
	font-size: 40px;
	letter-spacing: 0.3vw;
	/*line-height: 7vw;*/
	color: white;
}
nav{
	display: flex;
	width: 100%;
}
a{
	border: none;
	border-radius: 15px;
	background-color: white;
	color: black;
	margin: 20px;
	/*margin-top: -10px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;   
	padding-right: 50px; 

}
#intro {
	position: fixed;
	width: 100%;
    z-index: -1;
}
#editor{
	background-color: rgba(0, 0, 0, .85);
	border-bottom-left-radius: 50px;
}
textarea{
	
	resize: vertical;
	width: 27vw;
	height: 480px;
	margin-left: 3vw;
	margin-top: 4vw;
	margin-right: 3vw;
	margin-bottom: 3vw;
	color: white;
	padding: 10px;
	background-color: #333;	
	border-radius: 15px;
	border: black;
	font-size: 17px;

}
textarea:focus {
	box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.15);
	outline: 0;
  	transition: all 0.3s;
 	-webkit-transition: all 0.3s;
 	-moz-transition: all 0.3s;
}

#output{
	width: 60vw;
	height: auto;
	display: box;	
	margin-top: 4vw;
}
button{
	display: flex;
    justify-content: center;
 	margin: auto;
	margin-bottom: 150px;
	background-color: #222; 
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	font-size: 30px;
	vertical-align: middle;
	width: auto;
	border-radius: 15px;
}

#commands{
	color: #ccc;
	background-color: rgba(0, 0, 0, .78);
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 90px;
}
#syntax{
	color: #888;
}
ul{
	list-style: none;
	letter-spacing: 1.5px;
	line-height: 27px;
}

footer{
	display: flex;
	width: 100%;
	justify-content: center;
 	align-items: center;
	background-color: #151515;
	text-align: center;
	color: white;
	font-size: 26px;
	height: 200px;
	border-top-right-radius: 90px;
}
p{
	padding: 60px;
}
#github{
	width: 60px;
	background-color: #eee;
	border-radius: 30px;
	border: 10px, #eee;
}
