* {
	margin: 0;
	padding: 0;
	font-family: Calibri, "Trebuchet MS", sans-serif;
}
body {
	
	background-color: gray;
}
section {
	
    
	display: flex;

}
header {
	display: flex;
	width: 100%;
	justify-content: center;
 	align-items: center;
 	height: 650px;
	background-color: rgba(0, 0, 0, .75);
	text-align: center;
	font-size: 40px;
	letter-spacing: 0.3vw;
	line-height: 7vw;
	color: white;
}
header > img {
	position: absolute;
	width: 100%;

    z-index: -1;
}
section{
	background-color: #222;
}
textarea{
	
	resize: horizontal;
	width: 320px;
	height: 480px;
	margin-left: 30px;
	margin-top: 50px;
	margin-right: 30px;
	margin-bottom: 30px;
	color: white;
	padding: 10px;
	background-color: #333;	
	border-radius: 15px;
	border: 30px black;

}
textarea:focus {
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
	outline: 0;
  	transition: all 0.3s;
 	-webkit-transition: all 0.3s;
 	-moz-transition: all 0.3s;
}

img{
	width: auto;
	height: auto;
	display: block;
	margin-top: 50px;
	margin-right: 50px;
}
button{
	display: flex;
    justify-content: center;
    /*margin-top: 50px;*/
	margin: auto;
	margin-bottom: 150px;
	background-color: #111; 
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	font-size: 30px;
	vertical-align: middle;
	width: auto;
	border-radius: 15px;
}
footer{
	display: flex;
	width: 100%;
	justify-content: center;
 	align-items: center;
	background-color: #111;
	text-align: center;
	color: white;
	height: 200px;
}

a{
	display: flex;
    justify-content: center;
    /*margin-top: 50px;*/
	margin: auto;
	margin-bottom: 100px;
	background-color: #111; 
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	font-size: 100px;
	vertical-align: middle;
	width: auto;
	border-radius: 15px;
}